.header-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
  gap: 0.5rem;
}

.header-container-label {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #04838f;
  color: white;
}

h3 {
  width: 100%;
  word-wrap: break-word;
  margin: 0;
}