<div class="chart-container">
  <ngx-charts-pie-chart
    [results]="data"
    [labels]="true"
    [doughnut]="false"
    [scheme]="colorScheme"
    (select)="onSelect($event)"
    (activate)="onActivate($event, $event)"
    (deactivate)="onDeactivate()"
    [trimLabels]="false"
    [tooltipDisabled]="true"
  >
  </ngx-charts-pie-chart>

  <!-- Tooltip custom -->
  <div class="custom-tooltip" *ngIf="showTooltip" [style.left.px]="tooltipX" [style.top.px]="tooltipY">
    <div class="tooltip-title">{{ countryName }}</div>
    <div class="tooltip-value">{{ medalCount }}</div>
  </div>
</div>